.top-buffer { margin-top:20px; }

#map {
  width: 100%;
  height: 400px;
  cursor: crosshair;
}

#radarChart {
  width: 100%;
}

.var-label,.cl-label {
  font-weight: bold;
  cursor: pointer;
}

path.tracts {
  fill:#cfcfcf;
  fill-opacity: .8;
  //stroke:#fff;
  //stroke-width: .2px;
  border-radius: 25px;
}

path.tracts:hover {
    fill-opacity: 0.2 !important;
    stroke:#fff !important;
    stroke-width: 1.5px !important;
}

.cl-1  {fill: #18154C;}
.cl-2  {fill: #EC501C;}
.cl-3  {fill: #7F1B4F;}
.cl-4  {fill: #005C37;}
.cl-5  {fill: #1A86C3;}
.cl-6  {fill: #E71584;}
.cl-7  {fill: #4F3089;}
.cl-8  {fill: #FEF30C;}
.cl-9  {fill: #E6211C;}
.cl-10 {fill: #17ABA1;}


