.top-buffer { margin-top:20px; }

#map {
  width: 100%;
  height: 400px;
  cursor: crosshair;
}

#radarChart {
  width: 100%;
}

#div-legend {
  height: 400px;
}

.var-label,.cl-label {
  font-weight: bold;
  cursor: pointer;
}

path.tracts {
  fill:#cfcfcf;
  fill-opacity: .9;
  //stroke:#fff;
  //stroke-width: .2px;
  border-radius: 25px;
}

.cl-1  {fill: #18154C;}
.cl-2  {fill: #EC501C;}
.cl-3  {fill: #7F1B4F;}
.cl-4  {fill: #005C37;}
.cl-5  {fill: #1A86C3;}
.cl-6  {fill: #E71584;}
.cl-7  {fill: #4F3089;}
.cl-8  {fill: #FEF30C;}
.cl-9  {fill: #E6211C;}
.cl-10 {fill: #17ABA1;}


.tracts:hover {
    fill-opacity: 0.2;
    stroke:#fff;
    stroke-width: 1.5px;
}

/*.div-legend {
	padding: 10px;
	height:150px;
	width: 25%;
	text-align: left;
	position: fixed;
  //left: 70%;
  right: 20px;
  top: 20px;
  background-color: rgba(0, 0,0, .8);
  font-family: 'cmu_typewriter_textregular';
  fill: #fff;
  font-size: 15px;
  cursor: pointer;
}

.legend {
	font-family: 'cmu_typewriter_textregular';
  fill: #fff;
  font-size: 15px;
  cursor: pointer;
}*/
