#chart {
  height: 200px;
  position: fixed;
 /* padding: 10px;
  height:150px;
  width: 40%;
  text-align: left;
  position: fixed;
  //left: 70%;
  right: 20px;
  top: 20px;
  background-color: rgba(0, 0,0, .8);
  font-family: 'cmu_typewriter_textregular';
  fill: #fff;
  cursor: pointer;*/
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.Cluster.One {fill: #18154C;}
.Cluster.Two {fill: #EC501C;}
.Cluster.Three {fill: #7F1B4F;}
.Cluster.Four {fill: #005C37;}
.Cluster.Five {fill: #1A86C3;}
.Cluster.Six {fill: #E71584;}
.Cluster.Seven {fill: #4F3089;}
.Cluster.Eight {fill: #FEF30C;}

